# =========================
# Backend (Spring Boot)
# =========================
/backend/target/
*.log

# =========================
# Frontend (Next.js)
# =========================
/frontend/node_modules/
/frontend/.next/
/frontend/out/

# =========================
# Environment variables
# =========================
.env
.env.local

# =========================
# IDE / Editor files
# =========================
.idea/
.vscode/
.classpath
.project
.factorypath
.settings/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db